//- 关于页面

extends base

block title
	title= "关于 - " + site.title

block content
	.special
		#about
			.intro
				.avatar
				p
					|Hi~ 我是徐亚非
					br
					|从事 iOS 开发 2 年
					br
					|2016 年毕业，热爱技术，正在修行
			.page_wrap
				.remark
					.friends.clearfix
						.column
							.item
								h4
									span 博客说明：
								.content
                                    p 本博客仅用作个人技术积累和知识总结
                                    p 大部分文章都与 iOS 开发相关
                                    p 欢迎大家交流经验，共同提高，如有错误敬请指正
									p 如果文章对您有所帮助、欢迎关注我的微博、简书、Github
                                    p 文章全部原创，转载请注明出处
                        .column
							.item
								h4
									span 联系方式：
								.content
                                    p Github：
										a(href="https://github.com/xiaofei86", target="_blank") github.com/xiaofei86
									p 简书：
										a(href="http://www.jianshu.com/users/2555924d8c6e/timeline ", target="_blank") jianshu.com/xuyafei86
									p 微博： 
										a(href="http://weibo.com/xuyafei86", target="_blank") weibo.com/xuyafei86
									p 脉脉：
										a(href="https://maimai.cn/contact/share/card?u=vuauswxm0t6t", target="_blank") maimai.cn/xiaofei86
									p 邮箱：
										a(href="mailto:xuyafei86@163.com", target="_blank") xuyafei86@163.com

				include include/paginator.jade

		        include include/comments
