//- 日志分类页面，图文列表

extends base

block title
	title= "日志分类 - " + site.title

block content
	.special
		#categories
			.page_wrap
				ul.cat_list
					li.quartz2d
						a.pic(href="/tag/Quartz2D")
							span(style="background-image: url(/template/images/categories/Quartz2D.png)")
						h2
							a(href="/tag/Quartz2D") [ Quartz2D ]
						p
							|Quartz 2D 也称 Core Graphics，是 iOS, tvOS 和 macOS 上强大的 2D 绘图引擎，它的 API 简单且高效，
							|并拥有离屏渲染、颜色管理等众多强大的特性。在这里能够对 Quartz 2D 进行系统的学习。
					li.quartz2d
						a.pic(href="/tag/CocoaPods")
							span(style="background-image: url(/template/images/categories/CocoaPods.png)")
						h2
							a(href="/tag/Quartz2D") [ CocoaPods ]
						p
							|CocoaPods 是 Cocoa 项目的依赖管理工具。它支持 Swift 和 Objective-C 语言，同时支持超过10000个第三方开源库。
							|你将在这里学到 CocoaPods 的使用、原理并建立自己的 Pod。

					li.quartz2d
						a.pic(href="/tag/CodeGuide")
							span(style="background-image: url(/template/images/categories/CodeGuide.png)")
						h2
							a(href="/tag/Quartz2D") [ CodeGuide ]
						p
							|Cocoa 中 Objective-c 的代码风格指南。基于 Google 和 Apple 等公司或组织的建议进行总结，你讲在这里学到正确的、
							|尽可能通用的代码风格。
					
					li //-防止最后一项独占一行，太宽影响显示效果

				include include/paginator.jade
