//- footer，在移动端直接不展示了

footer.footer
	//- h2.logo
	p
		a(href="https://github.com/xiaofei86/BitcronTheme", target="_blank") Theme
		|by 
		a(href="http://xuyafei.com", target="_blank") XuYafei
		|- Powered by 
		a(href="https://bitcron.com/", target="_blank") Bitcron
	a.gotop.icon-arrow_up(href="#")

