form(method="post", action="{{post.url}}")
    |本文具有权限控制，请输入
    if post.metadata.hint
        |问题的答案
    else
        |密码
    |以继续查看。
    br 
    br
    if post.metadata.hint
        .pwd_hint=post.metadata.hint 
    input.pwd_text(type="text", name="password")
    input.pwd_submit(type="submit", value="确定")