//- 置顶日志列表
if request.url_without_host == "/"
	entries = get_data(type='post',limit=3650000,sort='desc',with_page=flase)
	for post in entries
		if post.metadata.pin
			if post.cover
				article.post.img(bg=post.cover)
					.pinContainter
						img(src="/template/images/pin.png")
					include include/postListItem
			else
				article.post.text
					.pinContainter
						img(src="/template/images/pin.png")
					include include/postListItem

//- 日志列表
for post in posts
	if not (request.url_without_host == "/" and post.metadata.pin)
		if post.cover
			//- 有图片的日志，取第一张图关联，可以用于实现缩略图
			article.post.img(bg=post.cover)
				include include/postListItem
		else
			//- 没有图片的日志
			article.post.text
				include include/postListItem
